<h1>Your Cart</h1>

<% if @cart.empty? %>

<%= link_to "You cart is empty, Click to shop for wide variety of wristwatches", gallery_path %>

<% else %>
<%= link_to "Empty Cart", empty_cart_path %>
<%
=begin
%>

	<% cart_total = 0 %>

	<% @cart.each do |id, quantity| %>
		<%= cart_item(id).name %>
		<%= cart_item(id).description %>
		<%= number_to_currency(cart_item(id).price, :unit => '$') %>
		Quantity: <%= quantity %>
		<% item_total(quantity, cart_item(id).price) %>
	<% end %>

	Cart Total: <% number_to_currency(cart_total, :unit => '$') %>

<%
=end
%>
	<% total = 0 %>

	<% @cart.each do |id, quantity| %>
		<% product = cart_item(id) %>
		<div>
		<p><%= product.name %></p>
		<p><%= product.description %></p>
		<p><%= number_to_currency(product.price, :unit => '$') %></p>
		<p>Quantity: <%= quantity %></p>
		<p><%= link_to "Remove from cart", remove_from_cart_path(:id => product.id ) %></p>
		</div>
		<% total += item_total(quantity, product.price) %>
	<% end %>
	Cart Total: <%= number_to_currency(total, :unit => '$') %>
<% end %>

