<div class="row">
	<div class="page-header text-center"><h3>User Account Registration</h3></div>
	<div class="col-md-7 col-md-offset-3">
	Have an account? <%= link_to "Login", login_path %>

	<%= form_for (@user), url: signup_path, :class => "form-horizontal" do |f| %>
		<div class="form-group">
		   <div class="col-sm-4">
		   <%= f.label(:email, "Email: ") %>
		   </div>
		   <div class="col-sm-8">
		   <%= f.email_field :email, :placeholder => "Email", :class => "form-control" %>
		   </div>
		</div>
		<div class="form-group">
		   <div class="col-sm-4">
		   <%= f.label(:password, "Password: ") %>
		   </div>
		   <div class="col-sm-8">
		   <%= f.password_field :password, :placeholder => "Password", :class => "form-control" %>
		   </div>
		</div>
		<div class="form-group">
		   <div class="col-sm-4">
		   <%= f.label(:password_confirmation, "Password Confirm: ") %>
		   </div>
		   <div class="col-sm-8">
		   <%= f.password_field :password_confirmation, :placeholder => "Password", :class => "form-control" %>
		   </div>
		</div>				
		<div class="form-group">
		   <div class="col-sm-4">
		   <%= f.label(:name, "Name: ") %>
		   </div>
		   <div class="col-sm-8">
		   <%= f.text_field :name, :placeholder => "Name", :class => "form-control"  %>
		   </div>
		</div>
		<div class="form-group">
		   <div class="col-sm-4">
		   <%= f.label(:phone, "Phone: ") %>
		   </div>
		   <div class="col-sm-8">
		   <%= f.telephone_field :phone, :placeholder => "Phone", :class => "form-control"  %>
		   </div>
		</div>
		<div class="form-group">
		   <div class="col-sm-4">
		   <%= f.label(:address, "Address: ") %>
		   </div>
		   <div class="col-sm-8">
		   <%= f.text_area :address, :placeholder => "Address", :class => "form-control"  %>
		   </div>
		</div>
		<div class="form-group">
		   <div class="col-sm-4">
		   <%= f.label(:city, "City: ") %>
		   </div>
		   <div class="col-sm-8">
		   <%= f.text_field :city, :placeholder => "City", :class => "form-control"  %>
		   </div>
		</div>
		<div class="form-group">
		   <div class="col-sm-4">
		   <%= f.label(:country, "Country: ") %>
		   </div>
		   <div class="col-sm-8">
		   <%= f.text_field :country, :placeholder => "Country", :class => "form-control"  %>
		   </div>
		</div>						
	   <div class="col-sm-4">

	   </div>
	   <div class="col-sm-8">

	   <%= f.submit "Sign Up", :class => "btn btn-primary" %>

	   </div>		
	<% end %>
	</div>
			
</div>