<div class="row">
  <div class="col-sm-6">
	<div class="page-header"><h3>Contact Us</h3></div>
	<%= form_tag(contact_subscribe_path, method: "post", id: "subscribe", remote: "true",authenticity_token: true, protect_from_csrf: true, role: "form") do -%>
	<div class="form-group">
	   <div class="col-sm-4">
	   <%= label_tag(:fullname, "*Fullname: ") %>
	   </div>
	   <div class="col-sm-8">
	   <%= text_field_tag :fullname, nil, {placeholder: "Fullname", class: "form-control", required: "true"} %>
	   </div>
	</div>
	<div class="form-group">
	   <div class="col-sm-4">
	   <%= label_tag(:email, "*Email: ") %>
	   </div>
	   <div class="col-sm-8">
	   <%= email_field_tag :email, nil, {placeholder: "Email address", class: "form-control", required: "true"} %>
	   </div>   
	</div>
	<div class="form-group">
	   <div class="col-sm-4">
	   <%= label_tag(:message, "*Message: ") %>
	   </div>
	   <div class="col-sm-8">
	   <%= text_area_tag :message, nil, {placeholder: "Message", class: "form-control", required: "true"} %>
	   </div>	   
	</div>
	   <div class="col-sm-4">
	   </div>
	   <div class="col-sm-8">
	   <%= submit_tag("Submit") %>
	   </div>
	   
	<% end %>
	
  </div>

  <div class="col-sm-6">
	<div class="page-header"><h3>Physical Address</h3></div>
	<ul>
		<li>The Lionsgate house, The World
		</li>
		<li><strong>Phone:</strong> 0800-101-290-03
		</li>
		<li><strong>Email:</strong> info@alphawatches.com
		</li>
		<li><strong>Facebook:</strong> <a href="https://www.facebook.com/alphawatches" title="alpha watches" target="_blank">Alpha watches</a>
		</li>
		<li><strong>Twitter:</strong> <a href="https://twitter.com/alphawatches" title="alpha watches" target="_blank">@alphawatches</a>
		</li>
		<li><strong>Instagram:</strong> <a href="https://www.instagram.com/alphawatches" title="alpha watches" target="_blank">Alpha_watches</a>
		</li>
	</ul>
  </div>
</div>
