<!DOCTYPE html>
<html>
<head>
  	<title><%= full_title(yield(:title)) %></title>
  	<%= favicon_link_tag image_path('alphafavicon.png?v=2') %>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>	  
</head>
<body>

<nav class="nav navbar-inverse navbar-fixed-top">
	<div class="container-fluid">
	  <div class="navbar-header">
	    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigationbar">
	      <span class="sr-only">Toggle navigation</span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	    </button>                    
	    <%= link_to "ALPHA", root_path, :class => "navbar-brand" %>
	  </div>
	  <div class="navbar-collapse collapse" id="navigationbar">
	    <ul class="nav navbar-nav navbar-right">
	      <li><%= link_to "Home", root_path %></li>
	      <li><%= link_to "Gallery", gallery_path %></li>
	      <li><%= link_to "About", about_path %></li>
	      <li><%= link_to "Contact", contact_path %></li>
	    </ul>
	  </div>
	</div>
</nav>
<div class="container">
<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>
	<%= yield %>
</div>

<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
